<a href="https://colab.research.google.com/github/vishal200517/Vishal200517/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("Hello vishal")

Hello vishal

In [3]:
a=4
b=8

print(a+b)

12

In [ ]:
a=5
b=8
print(a+b)

13

In [ ]:
a=8
b=6
print (a*b)

SyntaxError: invalid character '×' (U+00D7) (<ipython-input-6-33cc233d1cdc>, line 3)

In [ ]:
list1= [1,"vaibhav", 29.30,[2,4,6],"hello"]
print(list1)
list1[1]=list1[1].upper()
print (list1)
list1.append("10")
print (list1)
list1.insert(1,1)
print (list1)
list1.remove([2,4,6])
print (list1)
list1.insert(5,[2,5,9])
print (list1)
list2=[7,8,9]
list3=list1.copy()
list1.remove(1)
print (list1)
print(list3)
list1.insert(1,list2)
print (list1)

[1, 'vaibhav', 29.3, [2, 4, 6], 'hello']
[1, 'VAIBHAV', 29.3, [2, 4, 6], 'hello']
[1, 'VAIBHAV', 29.3, [2, 4, 6], 'hello', '10']
[1, 1, 'VAIBHAV', 29.3, [2, 4, 6], 'hello', '10']
[1, 1, 'VAIBHAV', 29.3, 'hello', '10']
[1, 1, 'VAIBHAV', 29.3, 'hello', [2, 5, 9], '10']
[1, 'VAIBHAV', 29.3, 'hello', [2, 5, 9], '10']
[1, 1, 'VAIBHAV', 29.3, 'hello', [2, 5, 9], '10']
[1, [7, 8, 9], 'VAIBHAV', 29.3, 'hello', [2, 5, 9], '10']

In [ ]:
tuple1=(45,"a",True,35,54,343,[43],34,34,65,"python",43)
list1=list(tuple1)
print(list1)
list1.index(True)

TypeError: 'list' object is not callable

In [ ]:
a=18
a+=10
print(a)
a-=10
print(a)
a*=10
print(a)
a/=10
print(a)

28
18
180
18.0

In [ ]:
name="Vaibhav"
age=26
salary=100000
print("my Name is {}, I am {} years old and my salary is {}Rupees".format(name,age,salary))

my Name is Vaibhav, I am 26 years old and my salary is 100000Rupees

In [ ]:
name=str(input("Please enter your Name:"))
age=int(input("Please enter your age:"))
salary=int(input("Please enter your salary:"))
print("Your name is {}, You are {} years old and your salary is Rs{}" .format(name,age,salary))

Please enter your Name:vishal
Please enter your age:21
Please enter your salary:20000
Your name is vishal , You are 21 years old and your salary is Rs20000

In [1]:
list=[1,2,3,4,5]
print(list)
list.pop(2)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]